@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@keyframes cd-scale-in {
    0% {
        opacity:0;
        transform:scale(0);
    }
    100% {
        opacity:1;
        transform:scale(1);
    }
}

@keyframes MoveBG {
    0% {
        background-position:0% 84%
    }
    50% {
        background-position:100% 16%
    }
    100% {
        background-position:0% 84%
    }
}

body {
    margin:0;
    color:white;
    font-family:"Open Sans";
}

.background-container {
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(230deg,#4bc5cf,#4b79cf,#a24bcf);
    background-size:300% 300%;
    animation:MoveBG 60s ease infinite;
    overflow:overlay;
}

.container {
    padding:8px;
    animation:cd-scale-in .6s .3s both;
}

.header {
    font-size:7.5vw;
    text-align:center;
    font-weight:bold;
}

@media screen and (min-width: 460px) {
    .header {
        font-size:35px;
        text-align:left;
    }
}

.wall {
    text-align:center;
    margin-left:3px;
    margin-right:3px;
    display:inline-flex;
    flex-wrap:wrap;
}

.tile {
    min-width:128px;
    min-height:128px;
    background:#00000047;
    margin:3px;
    text-decoration:none;
    flex:auto;
}

.tile:hover {
    background:#0000FF;
    transition:0.8s;
}

.tile_image {
    text-align:center;
    width:64px;
    height:64px;
    margin-top:32px;
    border-radius:10px;
}

.tile_title {
    text-align: left;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 7px;
    color: #ffffff;
    display: block;
}

.footer {
    clear: both;
    font-size: 18px;
    padding-top: 20px;
}
